<div class="footer">
  <div class="links">
    <a href="https://www.facebook.com/ruben.rubilar.b/" add target="_blank"><i class="fab fa-fw fa-facebook-f"></i></a>
    <a href="https://github.com/Rubenrrb" add target="_blank"><i class="fab fa-fw fa-github"></i></a>
    <a href="https://www.linkedin.com/in/ruben-rubilar/" add target="_blank"><i class="fab fa-linkedin-in"></i></a>
    <a href="https://www.linkedin.com/in/ruben-rubilar/" add target="_blank"><i class="fab fa-fw fa-instagram"></i></a>
    <p>This website was coded with <i class="fas fa-heart" add target="_blank"></i> at Le Wagon.</p>
  </div>
</div>
