<div class="navbar navbar-expand-sm  navbar-lewagon fixed-top">
  <%= link_to cocktails_path, class: "navbar-brand ml-3" do %>
  <%= image_tag "logo.png" %> 
  <% end %>
    
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="btn btn-1 m-1">
      <%= link_to "Cocktails", cocktails_path, class: "nav-link white" %>
      </li>
      <li class="btn btn-2 m-1">
      <%= link_to "New Coctail", new_cocktail_path, class: "nav-link $border-radius" %>
      </li>
    </ul>
  </div>
</div>
