<div class="home-banner">
    <div class="logo"><b>C<span>i</span>t<span>y</span>C<span>oc</span>k<span>ta</span><span>il</span>s</b></div>
    <h1>The world's best cocktail recipes</h1>
      <p>Don't worry, don't cry, drink vodka and fly...</p>
  </div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      
    </div>
  </div>
</div>


<div class="container">
    <% @cocktails.each do |cocktail| %>
    <div class="card-product my-3">
      <div class="card-product-infos">
        <h2><strong><%= cocktail.name %></strong></h2>
        <div>
        <%= link_to cocktail_path(cocktail) do %>
        <small><i class="fas fa-info-circle"></i></i></small>
        <% end %>
        </div>
      </div>
    </div>

    <% end %>
</div>

