<div class="new-banner">
    <div class="logo"><b>Cr<span>ea</span>te<span>Ne</span>w<span>Co</span>ck<span>ta</span><span>il</span>s</b></div>


  <div class="container d-flex justify-content-center mt-5">
    <%= simple_form_for @cocktail do |f| %>
    <%= f.input :name %>
    <%= f.submit 'Create Cocktail', class: 'btn btn-success btn-block'%>
    <% end %>  
    </div>
  </div>
</div>


