.navbar-lewagon {
  justify-content: space-between;
  background-color: transparent;
  transition: 0.3s background-color ease;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon-white {
  background-color: rgb(44,43,43)
}


.btn-2 {
  color: white;
  background-color: rgb(0, 180, 230);
  // box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
  border-radius: 50px;
  text-decoration: none;
}

.btn-1 {
  color: white;
  background-color: transparent;
  border: 2px solid rgb(230, 0, 120);
  // box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
  border-radius: 50px;
  text-decoration: none;
}

.btn-2:hover {
  color: palevioletred;
  animation: border-flicker-2 2s linear forwards;
    text-decoration: none;

}

.btn-1:hover {
  color: rgb(57,212,171);
  animation: border-flicker 2s linear forwards;
  text-decoration: none;
}

input.btn-block[type="submit"] {
  color: white;
  background-color: transparent;
  border: 2px solid rgb(230, 0, 120);
  // box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
  border-radius: 50px;
  text-decoration: none;
}

input.btn-block[type="submit"]:hover {
  color: rgb(57,212,171);
  animation: border-flicker 2s linear forwards;
  text-decoration: none;
}

.modal-content {
  background-color: rgba(0, 0, 0, .8);
}
